.list-details-first .ul-second
{
    display: flex;
    list-style: none;
    color: rgb(46, 45, 45);
}

.ul-second .item1
{
    margin-top: 1%;
   margin-left: 3%;
}

.ul-second .item2
{
    margin-top: 1%;
   margin-left: 16%;
}

.ul-second .item3
{
    margin-top: 1%;
   margin-left: 14%;
}

 .ul-second .item4
{
    margin-top: 1%;
   margin-left: 11%;
}


.ul-second .item5
{
    margin-top: 1%;
   margin-left: 30%;
}




.list-details-second .ul-third
{
    display: flex;
    list-style: none;
    color: rgb(46, 45, 45);   
}

.ul-third .item1
{
    margin-top: 1%;
   margin-left: 3%;
}

.ul-third .item2
{
    margin-top: 1%;
   margin-left: 17%;
}

.ul-third .item3
{
    margin-top: 1%;
   margin-left: 14%;
}

 .ul-third .item4
{
    margin-top: 1%;
   margin-left: 11%;
}


.ul-third .item5
{
    margin-top: 1%;
   margin-left: 30.5%;
}



.list-details-third .ul-fourth
{
    display: flex;
    list-style: none;
    color: rgb(46, 45, 45);
}

.ul-fourth .item1
{
    margin-top: 1%;
   margin-left: 3%;
}

.ul-fourth .item2
{
    margin-top: 1%;
   margin-left: 17%;
}

.ul-fourth .item3
{
    margin-top: 1%;
   margin-left: 14%;
}

 .ul-fourth .item4
{
    margin-top: 1%;
   margin-left: 11%;
}


.ul-fourth .item5
{
    margin-top: 1%;
   margin-left: 30.5%;
}


.list-details-fourth .ul-fifth
{
    display: flex;
    list-style: none;
    color: rgb(46, 45, 45);
}

.ul-fifth .item1
{
    margin-top: 1%;
   margin-left: 3%;
}

.ul-fifth .item2
{
    margin-top: 1%;
   margin-left: 15%;
}

.ul-fifth .item3
{
    margin-top: 1%;
   margin-left: 14%;
}

 .ul-fifth .item4
{
    margin-top: 1%;
   margin-left: 11%;
}

.ul-fifth .item5
{
    margin-top: 1%;
   margin-left: 29.7%;
}



.list-details-sixth .ul-seventh
{
    display: flex;
    list-style: none;
    color: rgb(46, 45, 45);
}

.ul-seventh .item1
{
    margin-top: 1%;
   margin-left: 3%;
}

.ul-seventh .item2
{
    margin-top: 1%;
   margin-left: 14%;
}

.ul-seventh  .item3
{
    margin-top: 1%;
   margin-left: 14%;
}

 .ul-seventh .item4
{
    margin-top: 1%;
   margin-left: 11%;
}


.ul-seventh .item5
{
    margin-top: 1%;
   margin-left: 30.6%;
}


.list-details-seventh .ul-eighth
{
    display: flex;
    list-style: none;
    color: rgb(46, 45, 45);
}

.ul-eighth .item1
{
    margin-top: 1%;
   margin-left: 3%;
}

.ul-eighth .item2
{
    margin-top: 1%;
   margin-left: 14%;
}

.ul-eighth  .item3
{
    margin-top: 1%;
   margin-left: 14%;
}

 .ul-eighth .item4
{
    margin-top: 1%;
   margin-left: 11%;
}


.ul-eighth .item5
{
    margin-top: 1%;
   margin-left: 30.6%;
}
