
/* :root{
    --primary:hsla(245,97%,63%,0.65);
    --secondary:hsla(133,96%,62%,0.65);
} */
.bgimage img{
    width:100%;
    /* height: 100vh;
    background: linear-gradient(135deg,var(--primary),var(--secondary)), url(../image/banner-1.jpg)  no-repeat center center cover; */
}